@font-face {
    font-family: "montSemiBold";
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "frCodeSemiBold";
    src: url(../assets/fonts/FiraCode-SemiBold.ttf);
}

@font-face {
    font-family: "frCodeMedium";
    src: url(../assets/fonts/FiraCode-Medium.ttf);
}
